__pycache__
*.compiled
*.pth
*.log
*.py~
*.pt
data
result/
\#*\#
*.vnnlib
wandb
verifiers/results
outputs*/
*gurobi.lic
SoundnessBench*/
results*/
scripts/
verifiers/marabou_vnncomp*
verifiers/neuralsat
verifiers/pyrat
verifiers/alpha-beta-CROWN*
.vscode/